.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.count-button {
    display: flex;
    align-items: center;
    gap: 10px;
}
.margin{
    margin-right: 7px;
}
